<% unless @log_entries.empty? %>
  <h3>Previous runs</h3>

  <table>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Duration</th>
      <th>No slots</th>
      <th>Status</th>
    </tr>

    <%= render @log_entries %>
  </table>
<% end %>
