<h3>Add members to <%= @procurement_area_membership.area_name %></h3>

<% @procurement_area_membership.eligible_organisations.each do |org| %>
  <div>
    <h4><%= org.name %></h4>

    <%= button_to "Add",
      procurement_area_memberships_path(
        procurement_area_id: @procurement_area_membership.area_id,
        membership_uid: org.uid,
        membership_type: org.type
      )
     %>
  </div>
<% end %>
