<h2>Organisations</h2>

<% unless @organisations.empty? %>
  <ul class="areas">
  <% @organisations.each do |organisation| %>
    <li class="cf">
      <h3><%= organisation.name %></h3>
      <%= link_to "View", organisation_path(organisation), :class => 'link-list-item' %>
    </li>
  <% end %>
  </ul>
<% end %>

<ul class="actions">
  <li>
    <%= link_to "Create organisation", new_organisation_path, :class => 'button' %>
  </li>
</ul>
