<h3>Add locations to <%= @procurement_area_location.area_name %></h3>

<% @procurement_area_location.eligible_organisations.each do |org| %>
  <div>
    <h4><%= org.name %></h4>

    <%= button_to "Add",
      procurement_area_locations_path(
        procurement_area_id: @procurement_area_location.area_id,
        location_uid: org.uid,
        location_type: org.type
      )
     %>
  </div>
<% end %>
