<h2>Dashboard</h1>

<% if current_user.name.present? %>
  <p>
    Welcome to your Defence Service Rota dashboard, <%= current_user.name %>.
  </p>

  <% if current_user.email.present? %>
    <p>Logged in as: <strong><%= current_user.email %></strong></p>
  <% end %>
<% else %>
  <p>
    Welcome to your Defence Service Rota dashboard.
  </p>
<% end %>

<%= link_to "Procurement areas", procurement_areas_path, :class => 'button' %>
<%= link_to "Organisations", organisations_path, :class => 'button' %>
