span.rota-slot-organisation {
  padding: 5px 10px;
  text-align: center;
  display: block;
}

.light_text {
  color: #fff;
}

.dark_text {
  color: #000;
}

.log-entry {
  &.successful {
    background-color: #3c3;
  }

  &.failed {
    @extend .light_text;
    background-color: #f00;
  }

  &.running {
    background-color: #ff0;
  }
}
