<%= form_for @procurement_area do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit "Create", :class => 'button' %>
<% end %>
