<h2>Procurement areas</h2>

<% unless @procurement_areas.empty? %>
  <ul class="areas">
  <% @procurement_areas.each do |procurement_area| %>
    <li class="cf">
      <h3><%= procurement_area.name %></h3>
      <%= link_to "View", procurement_area_path(procurement_area), :class => 'button' %>
    </li>
  <% end %>
  </ul>
<% end %>

<ul class="actions">
  <li>
    <%= link_to "Create procurement area", new_procurement_area_path, :class => 'button' %>
  </li>
</ul>
